<?php

return [
    'read' => [
        'connector' => '',
        'host'      => '',
        'name'      => '',
        'charset'   => 'utf8',
        'user'      => '',
        'password'  => '',
    ],
];